## IMPORTS
import(Rsamtools, ShortRead)

## EXPORTS
## S4 Classes
exportClasses(
    "SYSargs"
)

## Methods
exportMethods(
    "modules", "software", "cores", "other", "reference", "results",
    "infile1", "infile2", "outfile1", "SampleName", "sysargs",
    "outpaths", "show", "names", "length", "[" 
)

## Functions
# exportPattern("^[[:alpha:]]+")
export(
    ## Data sets
    ## Source: ./data/
    # "targets", "targetsPE",

    ## Import/exports
    ## Source: systemPipe.R
    "readComp",

    ## Utilities
    ## Source: systemPipe.R
    "alignStats", "getQsubargs", "qsubRun", "returnRPKM", 
    "runCommandline", "systemArgs", "symLink2bam", "moduleload", 
    "modulelist", "run_edgeR"
) 
